<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/login}">Módulo Unidad Deportiva</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/consultaDocente}">Asistencia Docente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/consultaEstudiante}">Asistencia Pasante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/consultaMiembroEquipo}">Asistencia Miembro Equipo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/insertarAsistencia}">Registro Asistir Responsable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/prestamo}">Registro Prestamo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                 alt="Avatar" class="img-fluid m-5" style="width: 80px;" />
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Información</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3" th:each = "espacio : ${espacios}">
                                        <h6>Sede</h6>
                                            <p class="text-muted" th:text="${espacio.nomEspacio}"></p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Cargo</h6>
                                        <p class="text-muted" th:text="${cargo.desCargo}"></p>
                                    </div>
                                </div>
                                <h6>Datos</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Nombre</h6>
                                        <p class="text-muted" th:text="${empleado.nomEmpleado}"></p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Apellido</h6>
                                        <p class="text-muted" th:text="${empleado.apellEmpleado}"></p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Fecha</h6>
                                        <p th:text="${#dates.format(standardDate, 'dd-MM-yyyy')}"></p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Hora</h6>
                                        <p th:text="${#dates.format(standardDate, 'HH:mm')}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="src/main/resources/static/js/scripts.js"></script>
</body>
<footer th:replace="layout/layout :: footer"></footer>

</html>