<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
<nav th:replace="layout/layout :: header"></nav>

<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                 alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Información</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3" >
                                        <h6>Sedes</h6>
                                            <div th:each = "espacio : ${espacios}">
                                                <p class="text-muted" th:text="${espacio.nomEspacio}"></p>
                                            </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Cargo</h6>
                                        <p class="text-muted" th:text="${cargo.desCargo}"></p>
                                    </div>
                                </div>
                                <h6>Datos</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Nombre</h6>
                                        <p class="text-muted" th:text="${empleado.nomEmpleado}"></p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Apellido</h6>
                                        <p class="text-muted" th:text="${empleado.apellEmpleado}"></p>
                                    </div>
                                    <div class="col-6 mb-6">
                                        <h6>Fecha de Registro</h6>
                                        <p th:text="${empleado.fechaRegistroEmp}"></p>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-6 mb-4 ">
                                        <a th:href="@{/horasPasantes}" class="btn btn-primary btn-block mb-4 ">Horas pasantes</a>
                                    </div>
                                    <div class="col-6 mb-4 ">
                                        <a th:href="@{/horasMiembros}" class="btn btn-primary btn-block mb-4 ">Horas miembros equipo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="src/main/resources/static/js/scripts.js"></script>
</body>
<footer th:replace="layout/layout :: footer"></footer>

</html>